@use "./../settings/colors" as *;
@use "./../settings/fonts" as *;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-gray-extra-light;
  color: $color-black;
  font-family: "Roboto";
  font-size: $font-size-normal;
}

html,
body {
  height: 100%;
  margin :0;
}
