nav.navigator-responsive
    a(href="#navigator-resposive-submenu")
        i.fas.fa-bars
    div#navigator-resposive-submenu
        ul
            li 
                a(href="#home") Home
            li 
                a(href="#about-me") About me
            li 
                a(href="#contact") Contact