@mixin transform($property){
    -webkit-transform: $property;
    -ms-transform: $property;
    -moz-transform: $property;
    transform: $property;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		@include transform(translateY(0));
	}
	40% {
        @include transform(translateY(-30px));
	}
	60% {
        @include transform(translateY(-15px));
	}
}