@import './partials/variables';
@import './partials/mixins';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-gray-extra-light;
  color: $color-black;
}

html,
body {
  height: 100%;
}

a {
  color: $color-black;
}

p {
  @include mobile {
    font-size: 0.8em;
  }
}
