@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  background-color: #232526;  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Raleway', sans-serif;
  padding-top: 70px;
  color: #ECE9E6;
}

nav{
  a {
    color :#ECE9E6;
    text-align: center;
  }
  ul{
    width: 100%;
    li{
      width: 50%;
    }
  }
  .navbar-brand{
    display: none;
    float: none;
  }
}

ul{
  list-style: none;
  padding: 0px;
}


#about{
  width: 50%;
  margin: 50px auto;

  #about-picture{
    float:left;
  }

  #about-info{
    width: 90%;
    float:right;
  }

  .about-label{
    font-weight: bold;
    color:  #414345;
    padding: 0px;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .about-text{
    padding-left: 10px;
    font-size: 12px;
  }

  
}

.navbar-custom{
  background-color: #414345;
}

.panel{
  text-align: center;
  background-color: #414345;

  .panel-title{
    padding: 10px 15px;

    .about-title{
      text-decoration: none;
      text-align: center;
    }
  }
  .about-body{
      background-color: #ECE9E6;
      color: #414345;
      text-align: left;
      padding: 15px 15px;
      transition: 0.2s linear; 
  }
}

.panel-default{
  border: none;
}

@media(max-width: 767px){
  nav{
    a{
      color: #414345; 
    }
    ul{
      width: 100%;
      li{
        margin: 0 auto;
        width: 50%;
      }
    }
    #navbar{
      background-color: #ECE9E6;  /* fallback for old browsers */
      background-color: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
      background-color: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .navbar-nav{
      margin: 0;
    }
    .navbar-brand{
      display: block;
      color: #ECE9E6;
      width: 80%;
      margin: 0 auto;
    }
    .navbar-toggle{
      background-color: #ECE9E6;
      span{
        background-color: #414345;
      }
    }
  }
  #about{
  width: 100%;
  margin: 0px auto;

    #about-picture{
      display:block;
      float: none;
      img{
        margin: 10px auto;
      }
    }

    #about-info{
      float: none;
      width: 100%;
    }
  
  }
}

@media (min-width: 768px) and (max-width: 1024px), (min-width: 1025px) and (max-width: 1280px){
  #about{
  width: 100%;
  margin: 0px auto;

    #about-picture{
      display:block;
      float: none;
      img{
        margin: 10px auto;
      }
    }

    #about-info{
      float: none;
      width: 100%;
    }
  }

  .panel{
  text-align: center;
  background-color: #414345;

  .panel-title{
    padding: 20px 15px;
  }
}

.panel-default{
  margin-top: 10px;
}

}









