@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  background-color: #232526;  /* fallback for old browsers */
  background-color: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Raleway', sans-serif;
  padding-top: 70px;
}

nav{
  a {
    color :#ECE9E6;
    text-align: center;
  }
  ul{
    width: 100%;
    li{
      width: 50%;
    }
  }
  .navbar-brand{
    display: none;
    float: none;
  }
}

.navbar-custom{
  background-color: #414345;
}

.container{
  color: #ECE9E6;
}

@media(max-width: 767px){
  nav{
    a{
      color: #414345; 
    }
    ul{
      width: 100%;
      li{
        margin: 0 auto;
        width: 50%;
      }
    }
    #navbar{
      background-color: #ECE9E6;  /* fallback for old browsers */
      background-color: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
      background-color: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .navbar-nav{
      margin: 0;
    }
    .navbar-brand{
      display: block;
      color: #ECE9E6;
      width: 80%;
      margin: 0 auto;
    }
    .navbar-toggle{
      background-color: #ECE9E6;
      span{
        background-color: #414345;
      }
    }
  }
}




