header(data-toggle="further-training")
    i.fas.fa-book
    h3 Further Training
.container-wrapper
    ul.item
        div.left-side
            li.logo
                img(src="./assets/img/icons/udemy.jpg")
        div.right-side
            li.title The Web Developer Bootcamp
            li.location Udemy
    ul.item
        div.left-side
            li.logo
                img(src="./assets/img/icons/miriadax.png")
        div.right-side
            li.title Developing Web Applications in HTML5, CSS and JavaScript, Android and IOS
            li.location MiriadaX
    ul.item
        div.left-side
            li.logo
                    img(src="./assets/img/icons/miriadax.png")
        div.right-side
            li.title Software Management with Git and Github
            li.location MiriadaX