header(data-toggle="further-training")
    i.fas.fa-book
    h3 Further Training
.container-wrapper
    ul.item
        div.right-side
            li.title Vue and Vuex Course
            li.location Fictizia
    ul.item
        div.right-side
            li.title Angular 6 Online Course 
            li.location KeepCoding
    ul.item
        div.right-side
            li.title The Web Developer Online Bootcamp
            li.location Udemy
    ul.item
        div.right-side
            li.title Developing Web Applications in HTML5, CSS and JavaScript, Android and IOS Online Course
            li.location MiriadaX
    ul.item
        div.right-side
            li.title Software Management with Git and Github Online Course
            li.location MiriadaX