header(data-toggle="further-training")
    i.fas.fa-book
    h3 Further Training
.container-wrapper
    ul.item
        div.right-side
            li.title Fictizia | Vue and Vuex Course
    ul.item
        div.right-side
            li.title KeepCoding | Angular 6 Online Course 
    ul.item
        div.right-side
            li.title Udemy | The Web Developer Online Bootcamp
    ul.item
        div.right-side
            li.title MiriadaX | Developing Web Applications in HTML5, CSS and JavaScript, Android and IOS Online Course
    ul.item
        div.right-side
            li.title MiriadaX | Software Management with Git and Github Online Course