header(data-toggle="personal-details")
	i.fas.fa-child
	h3 Personal Details
.container-wrapper
	ul.item
		li Name
		li Sabrina Fernandez Zambrano
	ul.item
		li Residence
		li Madrid, Spain
	ul.item
		li Birthday
		li 3rd September of 1993
	ul.item
		li Nationality
		li Spanish