header(data-toggle="skills")
    i.fas.fa-code
    h3 IT Skills
.container-wrapper
    ul.item
        li Languages / Frameworks / Libraries
        li Java, C, SQL, Javascript, HTML5, CSS3, jQuery, Angularjs, React Native, Redux, Bootstrap, Nodejs, Expressjs, Sass, Pugjs, Jade, Coffeescript, ES6, Spring Boot
    ul.item
        li Databases
        li MySQL, PostgreSQL
    ul.item
        li Operating Systems
        li Windows, Linux
    ul.item
        li IDEs
        li Eclipse, Netbeans
    ul.item
        li Version Control
        li Git, Github, Gitlab
    ul.item
        li Deployment
        li Heroku
    ul.item
        li Other Tools
        li Webpack, Jenkins
        