header(data-toggle="skills")
    i.fas.fa-code
    h3 IT Skills
.container-wrapper
    ul.item
        li Front-end
        li HTML5, CSS3, Javascript, Vue.js, Vuex, React, React Native, Redux, Sass, ES6, Nuxt.js, Angularjs, Webpack
    ul.item
        li Back-end
        li Java, Spring Boot, Node.js, Express.js, API Rest
    ul.item
        li Testing
        li Mocha, Chai, Sinon, Jest
    ul.item
        li Databases
        li MySQL, PostgreSQL, MongoDB
    ul.item
        li Operating Systems
        li Windows, Linux
    ul.item
        li Version Control
        li Git, Github, Gitlab
    ul.item
        li Continuous Integration
        li Jenkins
        