header(data-toggle="skills")
    i.fas.fa-code
    h3 IT Skills
.container-wrapper
    ul.item
        li Languages / Frameworks / Libraries
        li HTML5, CSS3, Javascript, Vue.js, Vuex, Java, SQL, Backbone, React.js, React Native, Redux, Angularjs, Nodejs, Sass, ES6, Django, Python, Mocha, Chai, Sinon, Jest, Nuxt.js
    ul.item
        li Databases
        li MySQL, PostgreSQL, MongoDB
    ul.item
        li Operating Systems
        li Windows, Linux
    ul.item
        li IDEs
        li Eclipse, Netbeans, IntelliJ
    ul.item
        li Version Control
        li Git, Github, Gitlab
    ul.item
        li Other Tools
        li Webpack, Jenkins, Heroku
        