header(data-toggle="studies")
	i.fas.fa-graduation-cap
	h3 Studies
.container-wrapper
	ul.item
		div.right-side
			li.date 11/2018 - Present
			li.title Full Stack Web Development Bootcamp
			li.location KeepCoding
	ul.item
		div.right-side
			li.date 09/2011 - 01/2018
			li.title Bachelor Degree of Computer Engineering
			li.location Technical University of Madrid
