header(data-toggle="work-experience")
	i.fas.fa-briefcase
	h3 Work Experience
.container-wrapper
	ul.item
		div.left-side
			li.logo 
				img(src="./assets/img/icons/amaris.png")
		div.right-side
			li.date 01/2018 - Present
			li.title Front-End Developer
			li.location Amaris
			li.tasks
				ul
					li 
						i.fas.fa-check
						| Resposible for new developments using technologies such as Backbone, Marionette, CSS, HTML, Jenkins, Javascript, jQuery, Dust, Stylus, Git, Java
					li 
						i.fas.fa-check
						|  Unit Testing with Mocha, Chai and Sinon
					li 
						i.fas.fa-check
						|  BDD Testing with Selenium
					li 
						i.fas.fa-check
						|  Team work using agile methodologies
	ul.item
		div.left-side
			li.logo
				img(src="./assets/img/icons/bfb.jpg")
		div.right-side
			li.date 01/2017 - 11/2017
			li.title Front-End Developer Intern
			li.location Bridge For Billions
			li.tasks
				ul
					li 
						i.fas.fa-check
						| Responsible for implementing their web application using HTML5, CSS3, SASS, AngularJS, Javascript, Jade, Jquery, Coffeescript, Django, Python 
					li 
						i.fas.fa-check
						| Application maintenance
					li 
						i.fas.fa-check
						| Testing
					li 
						i.fas.fa-check
						|  Team work using agile methodologies