header(data-toggle="work-experience")
	i.fas.fa-briefcase
	h3 Work Experience
.container-wrapper
	ul.item
		div.right-side
			li.date 01/2018 - Present
			li.title Amaris | Front-End Developer
			li.location Madrid, Spain
			li.tasks
				ul
					li 
						i.fas.fa-check
						| Resposible for new developments using technologies such as Vue, Vuex, Backbone, Marionette, CSS, HTML, Jenkins, Javascript, jQuery, Dust, Stylus, Git, Java, Azure
					li 
						i.fas.fa-check
						|  Unit Testing with Mocha, Chai and Sinon
					li 
						i.fas.fa-check
						|  BDD Testing with Selenium
					li 
						i.fas.fa-check
						|  Team work using agile methodologies
	ul.item
		div.right-side
			li.date 01/2017 - 11/2017
			li.title Bridge For Billions | Front-End Developer Intern
			li.location Madrid, Spain
			li.tasks
				ul
					li 
						i.fas.fa-check
						| Responsible for implementing their web application using HTML5, CSS3, SASS, AngularJS, Javascript, Jade, Jquery, Coffeescript, Django, Python 
					li 
						i.fas.fa-check
						| Application maintenance
					li 
						i.fas.fa-check
						| Testing
					li 
						i.fas.fa-check
						|  Team work using agile methodologies