@import '../../styles/partials/mixins';
@import '../../styles/partials/animations';

.main {
  animation-duration: 2s;
  animation-name: fadeIn;
  margin-left: 10%;
  margin-right: 5%;
  padding-top: 2%;
  @include mobile {
    margin-bottom: 20%;
    margin-left: 5%;
  }
}
