@use "../tools/mixins"as *;
@use "../tools/animations"as *;

.container {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 2rem 2rem 0 6.5rem;

  &__header {
    margin-bottom: 2rem;
  }

  @include mobile {
    padding: 2rem 2rem 5rem 2rem;
  }
}
