@use "../tools/mixins" as *;

.navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 5%;
  position: fixed;
  padding: 2rem;

  &--horizontal {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;

    @include mobile {
      flex-direction: row;
      height: 10%;
      width: 100%;
      bottom: 0;
      z-index: 1;
    }
  }
}
