.resume {
  .section {
    margin-bottom: 0.5rem;
  }

  .section-content {
    display: flex;
    flex-direction: column;

    .card {
      margin-bottom: 1.5rem;
    }
  }

  &__work-experience {
    .list {
      margin-top: 1rem;
      
      &__item {
        padding-left: 1rem;
      }
    }
  }

  &__education, &__languages {
    .section-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }
  }

  &__skills {
    .list {
      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
