$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-x-small: 1rem;
$font-size-small: 1.125rem;
$font-size-normal: 1.25rem;
$font-size-medium: 1.5rem;
$font-size-large: 1.875rem;
$font-size-x-large: 2.125rem;

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: $font-weight-normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: $font-weight-medium;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: $font-weight-bold;
}
