@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.header {
  margin-bottom: 2em;
  @include mobile { 
    margin-top: 1em;
  }

  h1,
  h2,
  h3 {
    margin: 0;
    margin-bottom: 0.2em;
  }

  h1 {
    @include mobile {
      font-size: 1.2em;
    }
  }

  h2 {
    color: $color-gray;
    @include mobile {
      font-size: 1em;
    }
  }

  h3 {
    @include mobile {
      font-size: 0.8em;
    }
  }
}
