@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';
@import '../../styles/partials/animations';

.nav {
  align-items: center;
  box-shadow: 10px 0 8px -8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 5%;
  @include mobile {
    background-color: $color-gray-extra-light;
    bottom: 0;
    box-shadow: 0 -4px 11px -4px rgba(0, 0, 0, 0.2);
    flex-direction: row;
    height: 10%;
    width: 100%;
  }

  .active {
    color: $color-gray;
    transition: all 0.2s ease-in-out;
  }

  ul {
    align-items: center;
    animation-duration: 2s;
    animation-name: slideInUp;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;

    @include mobile {
      animation: none;
      animation-duration: 0s;
      bottom: 0;
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    li {
      font-size: 1.5em;

      @include mobile {
        margin-bottom: 0.5em;
      }

      @include mobile {
        font-size: 1.2em;
      }

      &:hover {
        transform: scale(1.2);
      }

      &:not(:last-child) {
        padding-bottom: 1.5em;
        @include mobile {
          padding-bottom: 0;
        }
      }
    }
  }
}
