doctype html
html(lang="en")
  head
    meta(name='description', content='A personal portfolio where you can see a bio about me and my experience')
    meta(name='keywords', content='Full-Stack Developer, Front-end Developer, Web Design, Desarolladora, Ingenieria Informatica, Madrid')
    meta(name='author', content='Sabrina Fernandez Zambrano')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='./favicon.ico', type='image/x-icon')
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    title Sabrina's Portfolio
    body
      nav.navbar.navbar-custom.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') WELCOME
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='#about') ABOUT ME
              li
                a(href='#contact') CONTACT


      #about
        .col-md-2.col-sm-12.col-xs-12
          #about-picture
            img.thumbnail(src='./img/pic.jpg')
        .col-md-10.col-sm-12.col-xs-12    
          #about-info.panel-group
            .panel.panel-default
              .panel-title
                a.about-title(data-toggle='collapse' data-parent='#about-info' href='#biography') BIOGRAPHY
              div#biography.about-body.panel-collapse.collapse
                ul
                  li 
                    p.about-label NAME
                    p.about-text SABRINA ELENA FERNANDEZ ZAMBRANO
                  li 
                    p.about-label BIRTHDAY
                    p.about-text 03/09/1993
                  li 
                    p.about-label NATIONALITY
                    p.about-text SPANISH
                  li 
                    p.about-label CURRENT RESIDENCE
                    p.about-text MADRID, SPAIN
            .panel.panel-default
              .panel-title
                a.about-title(data-toggle='collapse' data-parent='#about-info' href='#work') WORK EXPERIENCE
              div#work.about-body.panel-collapse.collapse
                ul
                  li
                    p.about-label FRONT-END DEVELOPER INTERN
                    p.about-text BRIDGE FOR BILLIONS
                    p.about-text 01/2017 - 11/2017
                    p
                      ul.about-text
                        li IMPLEMENTATION OF THEIR WEB APPLICATION USING HTML, CSS, JAVASCRIPT, JADE, SASS, ANGULARJS, DJANGO AND PYTHON
                        li FIXING BUGS
                        li TESTING
            .panel.panel-default
              .panel-title
                a.about-title(data-toggle='collapse' data-parent='#about-info' href='#studies') STUDIES
              div#studies.about-body.panel-collapse.collapse
                ul
                  li
                    p.about-label BACHELOR DEGREE IN COMPUTER ENGINEERING
                    p.about-text TECHNICAL UNIVERSITY OF MADRID
                    p.about-text 09/2011 - 01/2018
            .panel.panel-default
              .panel-title
                a.about-title(data-toggle='collapse' data-parent='#about-info' href='#it-skills') IT SKILLS
              div#it-skills.about-body.panel-collapse.collapse
                ul
                  li
                    p.about-label LANGUAGES/FRAMEWORKS/LIBRARIES 
                    p.about-text JAVA, C, SQL, HTML5, CSS3, JAVASCRIPT, jQUERY, BOOTSTRAP, J2EE, JADE, SASS, COFFEESCRIPT, ES6, ANGULARJS, REACTJS, REACT NATIVE, REDUX, EXPRESSJS
                  li 
                    p.about-label DATABASES
                    p.about-text MYSQL, POSTGRESQL
                  li
                    p.about-label OPERATING SYSTEMS
                    p.about-text WINDOWS, LINUX
                  li
                    p.about-label OFFICE PROGRAMS
                    p.about-text MICROSOFT OFFICE
                  li
                    p.about-label IDES
                    p.about-text ECLIPSE, NETBEANS
                  li
                    p.about-label CONTROL VERSION
                    p.about-text GIT, GITHUB
                  li
                    p.about-label OTHER TOOLS
                    p.about-text HEROKU, WEBPACK, GRUNT, SPRING BOOT, NODEJS
            .panel.panel-default
              .panel-title
                a.about-title(data-toggle='collapse' data-parent='#about-info' href='#languages') LANGUAGE SKILLS
              div#languages.about-body.panel-collapse.collapse
                ul
                  li
                    p.about-label SPANISH
                    p.about-text NATIVE
                  li
                    p.about-label ENGLISH
                    p.about-text INTERMEDIATE-ADVANCED - LEVEL B2
                    p.about-text FIRST CERTIFICATE IN ENGLISH BY CAMBRIDGE UNIVERSITY
            .panel.panel-default
              .panel-title
                a.about-title(data-toggle='collapse' data-parent='#about-info' href='#further-training') FURTHER TRAINING
              div#further-training.about-body.panel-collapse.collapse
                ul
                  li
                    p.about-label DEVELOPING WEB APPLICATIONS IN HTML5, CSS3, JAVASCRIPT, ANDROID AND IOS
                    p.about-text 09/2016 - 11/2016
                    p.about-text MIRIADAX
                  li
                    p.about-label SOFTWARE MANAGEMENT WITH GIT AND GITHUB
                    p.about-text 02/2018
                    p.about-text MIRIADAX
            .panel.panel-default
              .panel-title
                a.about-title(data-toggle='collapse' data-parent='#about-info' href='#personal-projects') PERSONAL PROJECTS
              div#personal-projects.about-body.panel-collapse.collapse
                ul
                  li 
                    p.about-label FINAL-YEAR PROJECT
                    p.about-text A CROSS-PLATFORM MOBILE APPLICATION PROTOTYPE WITH REACT NATIVE AND REDUX TO SELL TICKET TRAINS
                    p.about-text 09/2017 - 01/2018
                  li
                    p.about-label WEB APPLICATION CLASS PROJECT
                    p.about-text A WEB APPLICATION PROTOTYPE TO SEARCH AND WATCH MOVIES ONLINE WITH HTML5, CSS3, JAVASCRIPT, jQUERY, BOOTSTRAP, JAVA AND SPRING BOOT
                    p.about-text 02/2017 - 06/2017