doctype html
html(lang="en")
  head
    meta(name='description', content='A personal portfolio where you can see a bio about me and my experience')
    meta(name='keywords', content='Full-Stack Developer, Front-end Developer, Web Design, Desarolladora, Ingenieria Informatica, Madrid')
    meta(name='author', content='Sabrina Fernandez Zambrano')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src="./main.js" type="module")
    link(rel='shortcut icon', href='./assets/img/favicon.ico', type='image/x-icon')
    link(rel="stylesheet", type="text/css", href="./main.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900', rel='stylesheet')
    title Sabrina's Portfolio

    body
      nav.navigator#home
        header
          h1 &lt;/&gt; Full Stack Web Developer
        ul
          li 
            a(href="#home") Home
          li 
            a(href="#about-me") About me
          li 
            a(href="#projects") Projects
          li 
            a(href="#contact") Contact
      main
        //- About me
        section#about-me
          header
            h2 About Me
          article
            img(src="./assets/img/personal_pic.jpg" alt="personal_picture")
          article
            header 
              h3 Personal Details
          article
            header
              h3 Work Experience
          article
            header
              h3 Studies
          article
            header
              h3 Further Training
        //- Projects
        section#projects
          header
            h2 Projects
          article
            ul
              li Project Title
              li Description
              li Github Link
        //- Contact
        section#contact
          header
            h2 Contact
          article
            ul
              li Email
              li Linkedin

      footer
        address © Sabrina Fernandez Zambrano
