doctype html
html(lang="en")
  head
    meta(name='description', content='A personal portfolio where you can see a bio about me and my experience')
    meta(name='keywords', content='Full-Stack Developer, Front-end Developer, Web Design, Desarolladora, Ingenieria Informatica, Madrid')
    meta(name='author', content='Sabrina Fernandez Zambrano')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1')
    link(rel='shortcut icon', href='./assets/img/favicon.ico', type='image/x-icon')
    link(rel="stylesheet", type="text/css", href="./main.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    title Sabrina's Personal Website

    body
      header#home
        img.pic(src="./assets/img/personal_pic.jpg" alt="personal_picture")
        h1 Sabrina Fernández Zambrano
        p Front-end Developer
        nav.navigator
          include ./templates/navigator.pug
        include ./templates/navigator-responsive.pug
      main
        //- About me
        section#about-me
          header
            h2 About Me
          .container
            article.dropdown#personal-details
              include ./templates/about-me/personal-details.pug
            article.dropdown#work-experience
              include ./templates/about-me/work-experience.pug
            article.dropdown#studies
              include ./templates/about-me/studies.pug
            article.dropdown#further-training
              include ./templates/about-me/further-training.pug
            article.dropdown#skills
              include ./templates/about-me/skills.pug
            article.dropdown#languages
              include ./templates/about-me/languages.pug
        //- Contact
        section#contact
          header
            h2 Contact
          article
            ul
              li.item
                include ./templates/contact/email.pug
              li.item
                include ./templates/contact/linkedin.pug
              li.item 
                include ./templates/contact/github.pug

      footer
        address © Sabrina Fernandez Zambrano
