doctype html
html(lang="en")
  head
    meta(name='description', content='A personal portfolio where you can see a bio about me and my experience')
    meta(name='keywords', content='Full-Stack Developer, Front-end Developer, Web Design, Desarolladora, Ingenieria Informatica, Madrid')
    meta(name='author', content='Sabrina Fernandez Zambrano')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='./assets/img/favicon.ico', type='image/x-icon')
    link(rel="stylesheet", type="text/css", href="./main.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    title Sabrina's Portfolio

    body
      nav.navigator#home
        header
          h1 &lt;/&gt; Full Stack Web Developer
        ul
          li 
            a(href="#home") Home
          li 
            a(href="#about-me") About me
          li 
            a(href="#projects") Projects
          li 
            a(href="#contact") Contact
      main
        //- About me
        section#about-me
          header
            h2 About Me
          article#personal-picture
            img.pic(src="./assets/img/personal_pic.jpg" alt="personal_picture")
          .container
            article.dropdown#personal-details
              include ./templates/about-me/personal-details.pug
            article.dropdown#work-experience
              include ./templates/about-me/work-experience.pug
            article.dropdown#studies
              include ./templates/about-me/studies.pug
            article.dropdown#further-training
              include ./templates/about-me/further-training.pug
            article.dropdown#skills
              include ./templates/about-me/skills.pug
            article.dropdown#languages
              include ./templates/about-me/languages.pug
        //- Projects
        section#projects
          header
            h2 Projects
          article
            ul
              li Project Title
              li Description
              li Github Link
        //- Contact
        section#contact
          header
            h2 Contact
          article
            ul
              li Email
              li Linkedin

      footer
        address © Sabrina Fernandez Zambrano
