@use "../settings/fonts"as *;

.bold {
  font-weight: $font-weight-bold !important;
}

.x-small {
  font-size: $font-size-x-small !important;
}

.small {
  font-size: $font-size-small !important;
}

.normal {
  font-size: $font-size-normal !important;
}

.medium {
  font-size: $font-size-medium !important;
}

.large {
  font-size: $font-size-large !important;
}

.x-large {
  font-size: $font-size-x-large !important;
}
